@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?am75by');
  src:  url('../fonts/icomoon.eot?am75by#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?am75by') format('truetype'),
    url('../fonts/icomoon.woff?am75by') format('woff'),
    url('../fonts/icomoon.svg?am75by#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filter-calender:before {
  content: "\e925";
}
.icon-view-ads .path1:before {
  content: "\e904";
  color: rgb(17, 24, 39);
}
.icon-view-ads .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(17, 24, 39);
}
.icon-view-ads .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(17, 24, 39);
}
.icon-view-ads .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(17, 24, 39);
}
.icon-view-ads .path5:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(17, 24, 39);
}
.icon-view-ads .path6:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(17, 24, 39);
}
.icon-view-ads .path7:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(17, 24, 39);
}
.icon-view-ads .path8:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(17, 24, 39);
}
.icon-view-ads .path9:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-view-ads .path10:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-kyc:before {
  content: "\e916";
}
.icon-alert:before {
  content: "\e91c";
}
.icon-back-arrow:before {
  content: "\e900";
}
.icon-lock:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}
.icon-user:before {
  content: "\e905";
}
.icon-all-ads:before {
  content: "\e906";
}
.icon-dashboard:before {
  content: "\e907";
}
.icon-help:before {
  content: "\e908";
}
.icon-my-wallet:before {
  content: "\e909";
}
.icon-our-product:before {
  content: "\e90a";
}
.icon-promotion:before {
  content: "\e90b";
}
.icon-transfer-history:before {
  content: "\e90c";
}
.icon-gift:before {
  content: "\e917";
}
.icon-notification:before {
  content: "\e918";
}
.icon-scanner:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e91a";
}
.icon-account-synchronized:before {
  content: "\e91b";
}
.icon-arrow-down-2:before {
  content: "\e91d";
}
.icon-big-close:before {
  content: "\e91e";
}
.icon-by-bank:before {
  content: "\e91f";
}
.icon-by-product:before {
  content: "\e920";
}
.icon-chat-helpandfaq:before {
  content: "\e921";
}
.icon-date-calendar:before {
  content: "\e922";
}
.icon-d-mart-shop:before {
  content: "\e923";
}
.icon-down:before {
  content: "\e924";
}
.icon-location:before {
  content: "\e926";
}
.icon-plus:before {
  content: "\e927";
}
.icon-promote:before {
  content: "\e928";
}
.icon-redeem-coin:before {
  content: "\e929";
}
.icon-right-arrow:before {
  content: "\e92a";
}
.icon-small-close:before {
  content: "\e92b";
}
.icon-send:before {
  content: "\e92c";
}
.icon-sync:before {
  content: "\e92d";
}
.icon-time:before {
  content: "\e92e";
}
.icon-transfer-coin:before {
  content: "\e92f";
}
.icon-true:before {
  content: "\e930";
}
.icon-up:before {
  content: "\e931";
}
.icon-upload-image:before {
  content: "\e932";
}
.icon-userplan-note .path1:before {
  content: "\e933";
  color: rgb(0, 0, 0);
}
.icon-userplan-note .path2:before {
  content: "\e934";
  margin-left: -0.900390625em;
  color: rgb(0, 0, 0);
}
.icon-userplan-note .path3:before {
  content: "\e935";
  margin-left: -0.900390625em;
  color: rgb(255, 255, 255);
}
.icon-userplan-email:before {
  content: "\e936";
}
.icon-userplan-Chat .path1:before {
  content: "\e937";
  color: rgb(0, 0, 0);
}
.icon-userplan-Chat .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-userplan-notification:before {
  content: "\e939";
}
.icon-wating-time:before {
  content: "\e93a";
}
